@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CineFlex'e Hoşgeldiniz.</h1>
    <h5>Proje hala gelişme aşamasındadır !!</h5>

    <p>Tavsiye, Hata ve Öneriler için; <a href="https://github.com/ladrons">GitHub hesabımdan</a> bana ulaşabilirsiniz.</p>
</div>

<hr />

<div>
    <h5>Eklenecekler</h5>







    <h5>Bilinen Hatalar</h5>
    <h5>Tespit Edilen Hatalar</h5>
    <h5>Düzeltilen Hatalar</h5>


</div>




<div>
    <h5>Test için kullanabileceğiniz adresler;</h5> <br />
    <p><a href="https://localhost:7251/Management/Genre/AddGenre">Film Türü Ekle</a> link çalışmazsa url devamı; ( /Management/Genre/AddGenre )</p>
    <p><a href="https://localhost:7251/Management/Format/AddFormat">Film Formatı Ekle</a> link çalışmazsa url devamı; ( /Management/Format/AddFormat )</p>
    <p><a href="https://localhost:7251/Management/Movie/AddMovie">Film Ekle</a> link çalışmazsa url devamı; ( /Management/Movie/AddMovie )</p>
    <p><a href="https://localhost:7251/Management/Theater/AddTheater">Salon Ekle</a> link çalışmazsa url devamı; ( /Management/Theater/AddTheater )</p>

    <hr />
    <p>Seans oluşturmak için öncelikle Salon ve Film oluşturulmalıdır. Ardından aşağıdaki link ile aktif filmlerin olduğu listeye giderek oradan seans oluşturabilirsiniz.</p>

    <p><a href="https://localhost:7251/Management/Movie/MovieList">Seans Oluştur</a> link çalışmazsa url devamı; ( /Management/Theater/AddTheater )</p>



</div>

